/* Tailwind CSS - SIEMPRE PRIMERO */
@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* ============================= */
/* RESET COMPLETO */
/* ============================= */
.container {
  max-width: 1100px;    /* Ajusta el ancho máximo que prefieras */
  margin: 0 auto;       /* Centra horizontalmente */
  padding: 0 20px;      /* Espaciado lateral en móviles */
  width: 100%;          /* Ocupa todo el ancho hasta el max-width */
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif; /* por ejemplo */
}

#app {
  display: flex;
  flex-direction: column;
}